/* FONT PATH * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, _icon-font.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 24, _icon-font.scss */
.fa-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 29, _icon-font.scss */
.fa-2x {
  font-size: 2em;
}

/* line 32, _icon-font.scss */
.fa-3x {
  font-size: 3em;
}

/* line 35, _icon-font.scss */
.fa-4x {
  font-size: 4em;
}

/* line 38, _icon-font.scss */
.fa-5x {
  font-size: 5em;
}

/* line 41, _icon-font.scss */
.fa-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

/* line 45, _icon-font.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

/* line 50, _icon-font.scss */
.fa-ul > li {
  position: relative;
}

/* line 53, _icon-font.scss */
.fa-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}

/* line 60, _icon-font.scss */
.fa-li.fa-lg {
  left: -1.8571428571428572em;
}

/* line 63, _icon-font.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

/* line 68, _icon-font.scss */
.pull-right {
  float: right;
}

/* line 71, _icon-font.scss */
.pull-left {
  float: left;
}

/* line 74, _icon-font.scss */
.fa.pull-left {
  margin-right: .3em;
}

/* line 77, _icon-font.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 80, _icon-font.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 87, _icon-font.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 90, _icon-font.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 95, _icon-font.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 98, _icon-font.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 103, _icon-font.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 106, _icon-font.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  /* line 111, _icon-font.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 114, _icon-font.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 119, _icon-font.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 122, _icon-font.scss */
  100% {
    transform: rotate(359deg);
  }
}
/* line 126, _icon-font.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 134, _icon-font.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 142, _icon-font.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 150, _icon-font.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 158, _icon-font.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 166, _icon-font.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 174, _icon-font.scss */
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 181, _icon-font.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 184, _icon-font.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 187, _icon-font.scss */
.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 192, _icon-font.scss */
.fa-glass:before {
  content: "\f000";
}

/* line 195, _icon-font.scss */
.fa-music:before {
  content: "\f001";
}

/* line 198, _icon-font.scss */
.fa-search:before {
  content: "\f002";
}

/* line 201, _icon-font.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 204, _icon-font.scss */
.fa-heart:before {
  content: "\f004";
}

/* line 207, _icon-font.scss */
.fa-star:before {
  content: "\f005";
}

/* line 210, _icon-font.scss */
.fa-star-o:before {
  content: "\f006";
}

/* line 213, _icon-font.scss */
.fa-user:before {
  content: "\f007";
}

/* line 216, _icon-font.scss */
.fa-film:before {
  content: "\f008";
}

/* line 219, _icon-font.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 222, _icon-font.scss */
.fa-th:before {
  content: "\f00a";
}

/* line 225, _icon-font.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 228, _icon-font.scss */
.fa-check:before {
  content: "\f00c";
}

/* line 231, _icon-font.scss */
.fa-times:before {
  content: "\f00d";
}

/* line 234, _icon-font.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 237, _icon-font.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 240, _icon-font.scss */
.fa-power-off:before {
  content: "\f011";
}

/* line 243, _icon-font.scss */
.fa-signal:before {
  content: "\f012";
}

/* line 246, _icon-font.scss */
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

/* line 250, _icon-font.scss */
.fa-trash-o:before {
  content: "\f014";
}

/* line 253, _icon-font.scss */
.fa-home:before {
  content: "\f015";
}

/* line 256, _icon-font.scss */
.fa-file-o:before {
  content: "\f016";
}

/* line 259, _icon-font.scss */
.fa-clock-o:before {
  content: "\f017";
}

/* line 262, _icon-font.scss */
.fa-road:before {
  content: "\f018";
}

/* line 265, _icon-font.scss */
.fa-download:before {
  content: "\f019";
}

/* line 268, _icon-font.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

/* line 271, _icon-font.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 274, _icon-font.scss */
.fa-inbox:before {
  content: "\f01c";
}

/* line 277, _icon-font.scss */
.fa-play-circle-o:before {
  content: "\f01d";
}

/* line 280, _icon-font.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

/* line 284, _icon-font.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 287, _icon-font.scss */
.fa-list-alt:before {
  content: "\f022";
}

/* line 290, _icon-font.scss */
.fa-lock:before {
  content: "\f023";
}

/* line 293, _icon-font.scss */
.fa-flag:before {
  content: "\f024";
}

/* line 296, _icon-font.scss */
.fa-headphones:before {
  content: "\f025";
}

/* line 299, _icon-font.scss */
.fa-volume-off:before {
  content: "\f026";
}

/* line 302, _icon-font.scss */
.fa-volume-down:before {
  content: "\f027";
}

/* line 305, _icon-font.scss */
.fa-volume-up:before {
  content: "\f028";
}

/* line 308, _icon-font.scss */
.fa-qrcode:before {
  content: "\f029";
}

/* line 311, _icon-font.scss */
.fa-barcode:before {
  content: "\f02a";
}

/* line 314, _icon-font.scss */
.fa-tag:before {
  content: "\f02b";
}

/* line 317, _icon-font.scss */
.fa-tags:before {
  content: "\f02c";
}

/* line 320, _icon-font.scss */
.fa-book:before {
  content: "\f02d";
}

/* line 323, _icon-font.scss */
.fa-bookmark:before {
  content: "\f02e";
}

/* line 326, _icon-font.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 329, _icon-font.scss */
.fa-camera:before {
  content: "\f030";
}

/* line 332, _icon-font.scss */
.fa-font:before {
  content: "\f031";
}

/* line 335, _icon-font.scss */
.fa-bold:before {
  content: "\f032";
}

/* line 338, _icon-font.scss */
.fa-italic:before {
  content: "\f033";
}

/* line 341, _icon-font.scss */
.fa-text-height:before {
  content: "\f034";
}

/* line 344, _icon-font.scss */
.fa-text-width:before {
  content: "\f035";
}

/* line 347, _icon-font.scss */
.fa-align-left:before {
  content: "\f036";
}

/* line 350, _icon-font.scss */
.fa-align-center:before {
  content: "\f037";
}

/* line 353, _icon-font.scss */
.fa-align-right:before {
  content: "\f038";
}

/* line 356, _icon-font.scss */
.fa-align-justify:before {
  content: "\f039";
}

/* line 359, _icon-font.scss */
.fa-list:before {
  content: "\f03a";
}

/* line 362, _icon-font.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

/* line 366, _icon-font.scss */
.fa-indent:before {
  content: "\f03c";
}

/* line 369, _icon-font.scss */
.fa-video-camera:before {
  content: "\f03d";
}

/* line 372, _icon-font.scss */
.fa-picture-o:before {
  content: "\f03e";
}

/* line 375, _icon-font.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 378, _icon-font.scss */
.fa-map-marker:before {
  content: "\f041";
}

/* line 381, _icon-font.scss */
.fa-adjust:before {
  content: "\f042";
}

/* line 384, _icon-font.scss */
.fa-tint:before {
  content: "\f043";
}

/* line 387, _icon-font.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

/* line 391, _icon-font.scss */
.fa-share-square-o:before {
  content: "\f045";
}

/* line 394, _icon-font.scss */
.fa-check-square-o:before {
  content: "\f046";
}

/* line 397, _icon-font.scss */
.fa-arrows:before {
  content: "\f047";
}

/* line 400, _icon-font.scss */
.fa-step-backward:before {
  content: "\f048";
}

/* line 403, _icon-font.scss */
.fa-fast-backward:before {
  content: "\f049";
}

/* line 406, _icon-font.scss */
.fa-backward:before {
  content: "\f04a";
}

/* line 409, _icon-font.scss */
.fa-play:before {
  content: "\f04b";
}

/* line 412, _icon-font.scss */
.fa-pause:before {
  content: "\f04c";
}

/* line 415, _icon-font.scss */
.fa-stop:before {
  content: "\f04d";
}

/* line 418, _icon-font.scss */
.fa-forward:before {
  content: "\f04e";
}

/* line 421, _icon-font.scss */
.fa-fast-forward:before {
  content: "\f050";
}

/* line 424, _icon-font.scss */
.fa-step-forward:before {
  content: "\f051";
}

/* line 427, _icon-font.scss */
.fa-eject:before {
  content: "\f052";
}

/* line 430, _icon-font.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 433, _icon-font.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 436, _icon-font.scss */
.fa-plus-circle:before {
  content: "\f055";
}

/* line 439, _icon-font.scss */
.fa-minus-circle:before {
  content: "\f056";
}

/* line 442, _icon-font.scss */
.fa-times-circle:before {
  content: "\f057";
}

/* line 445, _icon-font.scss */
.fa-check-circle:before {
  content: "\f058";
}

/* line 448, _icon-font.scss */
.fa-question-circle:before {
  content: "\f059";
}

/* line 451, _icon-font.scss */
.fa-info-circle:before {
  content: "\f05a";
}

/* line 454, _icon-font.scss */
.fa-crosshairs:before {
  content: "\f05b";
}

/* line 457, _icon-font.scss */
.fa-times-circle-o:before {
  content: "\f05c";
}

/* line 460, _icon-font.scss */
.fa-check-circle-o:before {
  content: "\f05d";
}

/* line 463, _icon-font.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 466, _icon-font.scss */
.fa-arrow-left:before {
  content: "\f060";
}

/* line 469, _icon-font.scss */
.fa-arrow-right:before {
  content: "\f061";
}

/* line 472, _icon-font.scss */
.fa-arrow-up:before {
  content: "\f062";
}

/* line 475, _icon-font.scss */
.fa-arrow-down:before {
  content: "\f063";
}

/* line 478, _icon-font.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

/* line 482, _icon-font.scss */
.fa-expand:before {
  content: "\f065";
}

/* line 485, _icon-font.scss */
.fa-compress:before {
  content: "\f066";
}

/* line 488, _icon-font.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 491, _icon-font.scss */
.fa-minus:before {
  content: "\f068";
}

/* line 494, _icon-font.scss */
.fa-asterisk:before {
  content: "\f069";
}

/* line 497, _icon-font.scss */
.fa-exclamation-circle:before {
  content: "\f06a";
}

/* line 500, _icon-font.scss */
.fa-gift:before {
  content: "\f06b";
}

/* line 503, _icon-font.scss */
.fa-leaf:before {
  content: "\f06c";
}

/* line 506, _icon-font.scss */
.fa-fire:before {
  content: "\f06d";
}

/* line 509, _icon-font.scss */
.fa-eye:before {
  content: "\f06e";
}

/* line 512, _icon-font.scss */
.fa-eye-slash:before {
  content: "\f070";
}

/* line 515, _icon-font.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

/* line 519, _icon-font.scss */
.fa-plane:before {
  content: "\f072";
}

/* line 522, _icon-font.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 525, _icon-font.scss */
.fa-random:before {
  content: "\f074";
}

/* line 528, _icon-font.scss */
.fa-comment:before {
  content: "\f075";
}

/* line 531, _icon-font.scss */
.fa-magnet:before {
  content: "\f076";
}

/* line 534, _icon-font.scss */
.fa-chevron-up:before {
  content: "\f077";
}

/* line 537, _icon-font.scss */
.fa-chevron-down:before {
  content: "\f078";
}

/* line 540, _icon-font.scss */
.fa-retweet:before {
  content: "\f079";
}

/* line 543, _icon-font.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 546, _icon-font.scss */
.fa-folder:before {
  content: "\f07b";
}

/* line 549, _icon-font.scss */
.fa-folder-open:before {
  content: "\f07c";
}

/* line 552, _icon-font.scss */
.fa-arrows-v:before {
  content: "\f07d";
}

/* line 555, _icon-font.scss */
.fa-arrows-h:before {
  content: "\f07e";
}

/* line 558, _icon-font.scss */
.fa-bar-chart-o:before {
  content: "\f080";
}

/* line 561, _icon-font.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 564, _icon-font.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 567, _icon-font.scss */
.fa-camera-retro:before {
  content: "\f083";
}

/* line 570, _icon-font.scss */
.fa-key:before {
  content: "\f084";
}

/* line 573, _icon-font.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

/* line 577, _icon-font.scss */
.fa-comments:before {
  content: "\f086";
}

/* line 580, _icon-font.scss */
.fa-thumbs-o-up:before {
  content: "\f087";
}

/* line 583, _icon-font.scss */
.fa-thumbs-o-down:before {
  content: "\f088";
}

/* line 586, _icon-font.scss */
.fa-star-half:before {
  content: "\f089";
}

/* line 589, _icon-font.scss */
.fa-heart-o:before {
  content: "\f08a";
}

/* line 592, _icon-font.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 595, _icon-font.scss */
.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 598, _icon-font.scss */
.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 601, _icon-font.scss */
.fa-external-link:before {
  content: "\f08e";
}

/* line 604, _icon-font.scss */
.fa-sign-in:before {
  content: "\f090";
}

/* line 607, _icon-font.scss */
.fa-trophy:before {
  content: "\f091";
}

/* line 610, _icon-font.scss */
.fa-github-square:before {
  content: "\f092";
}

/* line 613, _icon-font.scss */
.fa-upload:before {
  content: "\f093";
}

/* line 616, _icon-font.scss */
.fa-lemon-o:before {
  content: "\f094";
}

/* line 619, _icon-font.scss */
.fa-phone:before {
  content: "\f095";
}

/* line 622, _icon-font.scss */
.fa-square-o:before {
  content: "\f096";
}

/* line 625, _icon-font.scss */
.fa-bookmark-o:before {
  content: "\f097";
}

/* line 628, _icon-font.scss */
.fa-phone-square:before {
  content: "\f098";
}

/* line 631, _icon-font.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 634, _icon-font.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 637, _icon-font.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 640, _icon-font.scss */
.fa-unlock:before {
  content: "\f09c";
}

/* line 643, _icon-font.scss */
.fa-credit-card:before {
  content: "\f09d";
}

/* line 646, _icon-font.scss */
.fa-rss:before {
  content: "\f09e";
}

/* line 649, _icon-font.scss */
.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 652, _icon-font.scss */
.fa-bullhorn:before {
  content: "\f0a1";
}

/* line 655, _icon-font.scss */
.fa-bell:before {
  content: "\f0f3";
}

/* line 658, _icon-font.scss */
.fa-certificate:before {
  content: "\f0a3";
}

/* line 661, _icon-font.scss */
.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 664, _icon-font.scss */
.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 667, _icon-font.scss */
.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 670, _icon-font.scss */
.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 673, _icon-font.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

/* line 676, _icon-font.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9";
}

/* line 679, _icon-font.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 682, _icon-font.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab";
}

/* line 685, _icon-font.scss */
.fa-globe:before {
  content: "\f0ac";
}

/* line 688, _icon-font.scss */
.fa-wrench:before {
  content: "\f0ad";
}

/* line 691, _icon-font.scss */
.fa-tasks:before {
  content: "\f0ae";
}

/* line 694, _icon-font.scss */
.fa-filter:before {
  content: "\f0b0";
}

/* line 697, _icon-font.scss */
.fa-briefcase:before {
  content: "\f0b1";
}

/* line 700, _icon-font.scss */
.fa-arrows-alt:before {
  content: "\f0b2";
}

/* line 703, _icon-font.scss */
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

/* line 707, _icon-font.scss */
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

/* line 711, _icon-font.scss */
.fa-cloud:before {
  content: "\f0c2";
}

/* line 714, _icon-font.scss */
.fa-flask:before {
  content: "\f0c3";
}

/* line 717, _icon-font.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

/* line 721, _icon-font.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

/* line 725, _icon-font.scss */
.fa-paperclip:before {
  content: "\f0c6";
}

/* line 728, _icon-font.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

/* line 732, _icon-font.scss */
.fa-square:before {
  content: "\f0c8";
}

/* line 735, _icon-font.scss */
.fa-bars:before {
  content: "\f0c9";
}

/* line 738, _icon-font.scss */
.fa-list-ul:before {
  content: "\f0ca";
}

/* line 741, _icon-font.scss */
.fa-list-ol:before {
  content: "\f0cb";
}

/* line 744, _icon-font.scss */
.fa-strikethrough:before {
  content: "\f0cc";
}

/* line 747, _icon-font.scss */
.fa-underline:before {
  content: "\f0cd";
}

/* line 750, _icon-font.scss */
.fa-table:before {
  content: "\f0ce";
}

/* line 753, _icon-font.scss */
.fa-magic:before {
  content: "\f0d0";
}

/* line 756, _icon-font.scss */
.fa-truck:before {
  content: "\f0d1";
}

/* line 759, _icon-font.scss */
.fa-pinterest:before {
  content: "\f0d2";
}

/* line 762, _icon-font.scss */
.fa-pinterest-square:before {
  content: "\f0d3";
}

/* line 765, _icon-font.scss */
.fa-google-plus-square:before {
  content: "\f0d4";
}

/* line 768, _icon-font.scss */
.fa-google-plus:before {
  content: "\f0d5";
}

/* line 771, _icon-font.scss */
.fa-money:before {
  content: "\f0d6";
}

/* line 774, _icon-font.scss */
.fa-caret-down:before {
  content: "\f0d7";
}

/* line 777, _icon-font.scss */
.fa-caret-up:before {
  content: "\f0d8";
}

/* line 780, _icon-font.scss */
.fa-caret-left:before {
  content: "\f0d9";
}

/* line 783, _icon-font.scss */
.fa-caret-right:before {
  content: "\f0da";
}

/* line 786, _icon-font.scss */
.fa-columns:before {
  content: "\f0db";
}

/* line 789, _icon-font.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

/* line 793, _icon-font.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "\f0dd";
}

/* line 797, _icon-font.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "\f0de";
}

/* line 801, _icon-font.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 804, _icon-font.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 807, _icon-font.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

/* line 811, _icon-font.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

/* line 815, _icon-font.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

/* line 819, _icon-font.scss */
.fa-comment-o:before {
  content: "\f0e5";
}

/* line 822, _icon-font.scss */
.fa-comments-o:before {
  content: "\f0e6";
}

/* line 825, _icon-font.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

/* line 829, _icon-font.scss */
.fa-sitemap:before {
  content: "\f0e8";
}

/* line 832, _icon-font.scss */
.fa-umbrella:before {
  content: "\f0e9";
}

/* line 835, _icon-font.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

/* line 839, _icon-font.scss */
.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 842, _icon-font.scss */
.fa-exchange:before {
  content: "\f0ec";
}

/* line 845, _icon-font.scss */
.fa-cloud-download:before {
  content: "\f0ed";
}

/* line 848, _icon-font.scss */
.fa-cloud-upload:before {
  content: "\f0ee";
}

/* line 851, _icon-font.scss */
.fa-user-md:before {
  content: "\f0f0";
}

/* line 854, _icon-font.scss */
.fa-stethoscope:before {
  content: "\f0f1";
}

/* line 857, _icon-font.scss */
.fa-suitcase:before {
  content: "\f0f2";
}

/* line 860, _icon-font.scss */
.fa-bell-o:before {
  content: "\f0a2";
}

/* line 863, _icon-font.scss */
.fa-coffee:before {
  content: "\f0f4";
}

/* line 866, _icon-font.scss */
.fa-cutlery:before {
  content: "\f0f5";
}

/* line 869, _icon-font.scss */
.fa-file-text-o:before {
  content: "\f0f6";
}

/* line 872, _icon-font.scss */
.fa-building-o:before {
  content: "\f0f7";
}

/* line 875, _icon-font.scss */
.fa-hospital-o:before {
  content: "\f0f8";
}

/* line 878, _icon-font.scss */
.fa-ambulance:before {
  content: "\f0f9";
}

/* line 881, _icon-font.scss */
.fa-medkit:before {
  content: "\f0fa";
}

/* line 884, _icon-font.scss */
.fa-fighter-jet:before {
  content: "\f0fb";
}

/* line 887, _icon-font.scss */
.fa-beer:before {
  content: "\f0fc";
}

/* line 890, _icon-font.scss */
.fa-h-square:before {
  content: "\f0fd";
}

/* line 893, _icon-font.scss */
.fa-plus-square:before {
  content: "\f0fe";
}

/* line 896, _icon-font.scss */
.fa-angle-double-left:before {
  content: "\f100";
}

/* line 899, _icon-font.scss */
.fa-angle-double-right:before {
  content: "\f101";
}

/* line 902, _icon-font.scss */
.fa-angle-double-up:before {
  content: "\f102";
}

/* line 905, _icon-font.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 908, _icon-font.scss */
.fa-angle-left:before {
  content: "\f104";
}

/* line 911, _icon-font.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 914, _icon-font.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 917, _icon-font.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 920, _icon-font.scss */
.fa-desktop:before {
  content: "\f108";
}

/* line 923, _icon-font.scss */
.fa-laptop:before {
  content: "\f109";
}

/* line 926, _icon-font.scss */
.fa-tablet:before {
  content: "\f10a";
}

/* line 929, _icon-font.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

/* line 933, _icon-font.scss */
.fa-circle-o:before {
  content: "\f10c";
}

/* line 936, _icon-font.scss */
.fa-quote-left:before {
  content: "\f10d";
}

/* line 939, _icon-font.scss */
.fa-quote-right:before {
  content: "\f10e";
}

/* line 942, _icon-font.scss */
.fa-spinner:before {
  content: "\f110";
}

/* line 945, _icon-font.scss */
.fa-circle:before {
  content: "\f111";
}

/* line 948, _icon-font.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

/* line 952, _icon-font.scss */
.fa-github-alt:before {
  content: "\f113";
}

/* line 955, _icon-font.scss */
.fa-folder-o:before {
  content: "\f114";
}

/* line 958, _icon-font.scss */
.fa-folder-open-o:before {
  content: "\f115";
}

/* line 961, _icon-font.scss */
.fa-smile-o:before {
  content: "\f118";
}

/* line 964, _icon-font.scss */
.fa-frown-o:before {
  content: "\f119";
}

/* line 967, _icon-font.scss */
.fa-meh-o:before {
  content: "\f11a";
}

/* line 970, _icon-font.scss */
.fa-gamepad:before {
  content: "\f11b";
}

/* line 973, _icon-font.scss */
.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 976, _icon-font.scss */
.fa-flag-o:before {
  content: "\f11d";
}

/* line 979, _icon-font.scss */
.fa-flag-checkered:before {
  content: "\f11e";
}

/* line 982, _icon-font.scss */
.fa-terminal:before {
  content: "\f120";
}

/* line 985, _icon-font.scss */
.fa-code:before {
  content: "\f121";
}

/* line 988, _icon-font.scss */
.fa-reply-all:before {
  content: "\f122";
}

/* line 991, _icon-font.scss */
.fa-mail-reply-all:before {
  content: "\f122";
}

/* line 994, _icon-font.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

/* line 999, _icon-font.scss */
.fa-location-arrow:before {
  content: "\f124";
}

/* line 1002, _icon-font.scss */
.fa-crop:before {
  content: "\f125";
}

/* line 1005, _icon-font.scss */
.fa-code-fork:before {
  content: "\f126";
}

/* line 1008, _icon-font.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

/* line 1012, _icon-font.scss */
.fa-question:before {
  content: "\f128";
}

/* line 1015, _icon-font.scss */
.fa-info:before {
  content: "\f129";
}

/* line 1018, _icon-font.scss */
.fa-exclamation:before {
  content: "\f12a";
}

/* line 1021, _icon-font.scss */
.fa-superscript:before {
  content: "\f12b";
}

/* line 1024, _icon-font.scss */
.fa-subscript:before {
  content: "\f12c";
}

/* line 1027, _icon-font.scss */
.fa-eraser:before {
  content: "\f12d";
}

/* line 1030, _icon-font.scss */
.fa-puzzle-piece:before {
  content: "\f12e";
}

/* line 1033, _icon-font.scss */
.fa-microphone:before {
  content: "\f130";
}

/* line 1036, _icon-font.scss */
.fa-microphone-slash:before {
  content: "\f131";
}

/* line 1039, _icon-font.scss */
.fa-shield:before {
  content: "\f132";
}

/* line 1042, _icon-font.scss */
.fa-calendar-o:before {
  content: "\f133";
}

/* line 1045, _icon-font.scss */
.fa-fire-extinguisher:before {
  content: "\f134";
}

/* line 1048, _icon-font.scss */
.fa-rocket:before {
  content: "\f135";
}

/* line 1051, _icon-font.scss */
.fa-maxcdn:before {
  content: "\f136";
}

/* line 1054, _icon-font.scss */
.fa-chevron-circle-left:before {
  content: "\f137";
}

/* line 1057, _icon-font.scss */
.fa-chevron-circle-right:before {
  content: "\f138";
}

/* line 1060, _icon-font.scss */
.fa-chevron-circle-up:before {
  content: "\f139";
}

/* line 1063, _icon-font.scss */
.fa-chevron-circle-down:before {
  content: "\f13a";
}

/* line 1066, _icon-font.scss */
.fa-html5:before {
  content: "\f13b";
}

/* line 1069, _icon-font.scss */
.fa-css3:before {
  content: "\f13c";
}

/* line 1072, _icon-font.scss */
.fa-anchor:before {
  content: "\f13d";
}

/* line 1075, _icon-font.scss */
.fa-unlock-alt:before {
  content: "\f13e";
}

/* line 1078, _icon-font.scss */
.fa-bullseye:before {
  content: "\f140";
}

/* line 1081, _icon-font.scss */
.fa-ellipsis-h:before {
  content: "\f141";
}

/* line 1084, _icon-font.scss */
.fa-ellipsis-v:before {
  content: "\f142";
}

/* line 1087, _icon-font.scss */
.fa-rss-square:before {
  content: "\f143";
}

/* line 1090, _icon-font.scss */
.fa-play-circle:before {
  content: "\f144";
}

/* line 1093, _icon-font.scss */
.fa-ticket:before {
  content: "\f145";
}

/* line 1096, _icon-font.scss */
.fa-minus-square:before {
  content: "\f146";
}

/* line 1099, _icon-font.scss */
.fa-minus-square-o:before {
  content: "\f147";
}

/* line 1102, _icon-font.scss */
.fa-level-up:before {
  content: "\f148";
}

/* line 1105, _icon-font.scss */
.fa-level-down:before {
  content: "\f149";
}

/* line 1108, _icon-font.scss */
.fa-check-square:before {
  content: "\f14a";
}

/* line 1111, _icon-font.scss */
.fa-pencil-square:before {
  content: "\f14b";
}

/* line 1114, _icon-font.scss */
.fa-external-link-square:before {
  content: "\f14c";
}

/* line 1117, _icon-font.scss */
.fa-share-square:before {
  content: "\f14d";
}

/* line 1120, _icon-font.scss */
.fa-compass:before {
  content: "\f14e";
}

/* line 1123, _icon-font.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 1127, _icon-font.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 1131, _icon-font.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 1135, _icon-font.scss */
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

/* line 1139, _icon-font.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 1142, _icon-font.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

/* line 1146, _icon-font.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

/* line 1150, _icon-font.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

/* line 1156, _icon-font.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

/* line 1161, _icon-font.scss */
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

/* line 1165, _icon-font.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

/* line 1169, _icon-font.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 1172, _icon-font.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 1175, _icon-font.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 1178, _icon-font.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 1181, _icon-font.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 1184, _icon-font.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 1187, _icon-font.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 1190, _icon-font.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 1193, _icon-font.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 1196, _icon-font.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 1199, _icon-font.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 1202, _icon-font.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 1205, _icon-font.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 1208, _icon-font.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 1211, _icon-font.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 1214, _icon-font.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 1217, _icon-font.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 1220, _icon-font.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 1223, _icon-font.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 1226, _icon-font.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 1229, _icon-font.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 1232, _icon-font.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 1235, _icon-font.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 1238, _icon-font.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 1241, _icon-font.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 1244, _icon-font.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 1247, _icon-font.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 1250, _icon-font.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 1253, _icon-font.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 1256, _icon-font.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 1259, _icon-font.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 1262, _icon-font.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 1265, _icon-font.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 1268, _icon-font.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 1271, _icon-font.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 1274, _icon-font.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 1277, _icon-font.scss */
.fa-female:before {
  content: "\f182";
}

/* line 1280, _icon-font.scss */
.fa-male:before {
  content: "\f183";
}

/* line 1283, _icon-font.scss */
.fa-gittip:before {
  content: "\f184";
}

/* line 1286, _icon-font.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 1289, _icon-font.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 1292, _icon-font.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 1295, _icon-font.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 1298, _icon-font.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 1301, _icon-font.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 1304, _icon-font.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 1307, _icon-font.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 1310, _icon-font.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 1313, _icon-font.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 1316, _icon-font.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 1319, _icon-font.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 1323, _icon-font.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 1326, _icon-font.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 1329, _icon-font.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 1332, _icon-font.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

/* line 1336, _icon-font.scss */
.fa-plus-square-o:before {
  content: "\f196";
}

/*Header background*/
/*-------------Sass Mixin---------------*/
/*-------------!Sass Mixin---------------*/
/*	-------------GENERAL STYLE---------------*/
/* line 51, style.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 53, style.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222222;
  font-family: "Open Sans";
}

/* line 62, style.scss */
section {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
}

/* line 72, style.scss */
a {
  color: white;
  text-decoration: none;
  border: none;
}

/* line 78, style.scss */
iframe {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: hidden;
  z-index: 5;
}

/*-------------!GENERAL STYLE---------------*/
/*-----------------------------------------------------------*/
/* line 97, style.scss */
.clear {
  clear: both;
}

/* line 99, style.scss */
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 100, style.scss */
.no-scrollbar {
  overflow: hidden;
  float: left;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

/* line 107, style.scss */
.section {
  margin: 0 auto;
}

/*----------------------HEADER---------------------------------*/

header {
  background: #222222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  z-index: 100;
}

header > .left {
  float: left;
}

header .right {
  height: 50px;
  float: right;
}

header .right div {
  cursor: pointer;
}

header .right > div {
  display: inline-block;
}

header .right .purchase {
  position: relative;
  padding: 5px 25px 5px 20px;
  top: 11.386px;
  float: left;
  margin: 0 1em 0 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 142, style.scss */
header .right .purchase a {
  color: white;
}
/* line 149, style.scss */
header .logo {
  float: left;
  width: 40%;
}
header .logo img {
  width: 70%;
  display: inline-block;
  padding: .3em 0 0 .3em;
}
/* line 151, style.scss */
header .logo > a {
  padding: 0 0 0 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 155, style.scss */
header .logo > a img {
  margin: 0;
  text-decoration: none;
  border: none;
}
/* line 166, style.scss */
header #menu {
  float: left;
  max-height: 310px;
}
/* line 172, style.scss */
header #menu .current {
  padding: 16px 25px;
  font: 200 .9em Tahoma, sans-serif;
  background: #5C5C5C;
  color: white;
  cursor: default;
}
/* line 183, style.scss */
header #menu ul {
  position: absolute;
  min-width: 310px;
  width: 310px;
  max-height: 310px;
  font: 200 .8em Tahoma, sans-serif;
  background: #FFF;
  border: 1px solid #DDD;
  border-top: 0;
  border-left: 0;
  box-shadow: 1px 1px 1px -1px #777;
  list-style: none;
  z-index: 10;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  /*!li*/
}
/* line 200, style.scss */
header #menu ul > li {
  padding: 15px 15px 15px 25px;
  font: 200 .9em Tahoma, sans-serif;
  border-bottom: 1px solid #EEE;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 207, style.scss */
header #menu ul > li:hover {
  background: #F2F2F2;
}
/* line 212, style.scss */
header #menu ul > li .name {
  float: left;
}
/* line 214, style.scss */
header #menu ul > li .name.api {
  width: 100%;
  display: block;
}
/* line 220, style.scss */
header #menu ul > li .rating {
  color: #f1c40f;
  padding-left: 10px;
  display: inline-block;
}
/* line 224, style.scss */
header #menu ul > li .rating:before {
  font-family: "fontawesome";
  padding-right: 5px;
}
/* line 228, style.scss */
header #menu ul > li .rating.api {
  padding-left: 0px;
}
/* line 232, style.scss */
header #menu ul > li .rating.good:before {
  content: '\f005  \f005  \f005  \f006  \f006';
}
/* line 233, style.scss */
header #menu ul > li .rating.very-good:before {
  content: '\f005 \f005 \f005 \f005 \f006';
}
/* line 234, style.scss */
header #menu ul > li .rating.perfect:before {
  content: '\f005 \f005 \f005 \f005 \f005';
}
/* line 237, style.scss */
header #menu ul > li .badges {
  float: right;
}
/* line 239, style.scss */
header #menu ul > li .badges.api {
  display: none;
}
/* line 242, style.scss */
header #menu ul > li .badges > .label {
  padding: 5px 7px;
  color: #ECF0F1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* line 256, style.scss */
header .devices {
  -webkit-transition: all 0.2 ease;
  -moz-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  transition: all 0.2 ease;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -170px;
  color: white;
  font-size: 25px;
  text-align: center;
  z-index: 1;
  /*!div*/
}
/* line 267, style.scss */
header .devices div {
  -moz-box-shadow: inset 0 1px 0 #222222;
  -webkit-box-shadow: inset 0 1px 0 #222222;
  box-shadow: inset 0 1px 0 #222222;
  border: 1px solid black;
  border-right-width: 0;
  border-bottom: none;
  border-top: none;
  float: left;
  display: block;
  width: 40px;
  height: 30px;
  outline: none;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.2 ease;
  -moz-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
/* line 282, style.scss */
header .devices div.curr, header .devices div.active {
  -webkit-transition: all 0.2 ease;
  -moz-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  transition: all 0.2 ease;
  -moz-box-shadow: inset 0 0px 10px #0e0e0e;
  -webkit-box-shadow: inset 0 0px 10px #0e0e0e;
  box-shadow: inset 0 0px 10px #0e0e0e;
  outline: none;
}
/* line 287, style.scss */
header .devices div:hover {
  -moz-box-shadow: inset 0 0px 10px #1b1b1b;
  -webkit-box-shadow: inset 0 0px 10px #1b1b1b;
  box-shadow: inset 0 0px 10px #1b1b1b;
  outline: none;
}
/* line 292, style.scss */
header .devices > :last-child {
  border-right: 1px solid black;
}

/*!Header*/
/*-------------!Header---------------*/
/*-------------button---------------*/
/* line 300, style.scss */
.button {
  border: none;
  background-color: #82B440;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  border-radius: 2px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
}
.button:hover {
  background-color: #7AA93C;
}

/*-------------!button---------------*/
/* line 317, style.scss */
.menu-opened {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 318, style.scss */
.menu-opened iframe {
  opacity: .65;
}
/* line 322, style.scss */
.menu-opened #menu .current {
  background: #FFF;
  color: #000;
  text-shadow: none;
  box-shadow: none;
}
/* line 328, style.scss */
.menu-opened #menu ul {
  display: block;
}

/*--------PREVIEW IMAGES--------*/
/* line 333, style.scss */
#preview-img {
  position: absolute;
  width: 490px;
  height: 249px;
  border: 6px solid #ccc;
  display: none;
  z-index: 11;
}
/* line 344, style.scss */
#preview-img > div {
  width: 100%;
  height: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 100%;
  -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

/*--------!PREVIEW IMAGES--------*/
/*-----------CLOSE-------------*/
/* line 357, style.scss */
.close, .cog {
  position: relative;
  z-index: 1;
  padding: .6em .6em;
  display: inline-block;
}
/* line 374, style.scss */
.close a, .cog a {
  color: #4C4C4C;
  text-decoration: none;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  outline: none;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}
.close a:hover, .cog a:hover { 
 color: #737373;
}
/*-----------!CLOSE-------------*/
/* line 389, style.scss */
.phone, .tablet, .cog {
  margin-left: -4px;
}
/* line 392, style.scss */
.phone ul, .tablet ul, .cog ul {
  display: none;
  list-style: none;
  position: absolute;
  overflow: hidden;
  top: 51px;
  background: #181818;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #181818;
  border-top: 0;
  z-index: 999999;
}
/* line 409, style.scss */
.phone ul li, .tablet ul li, .cog ul li {
  width: 220px;
  height: auto;
  color: white;
  padding: 12px 20px;
  float: left;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #101010;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}
/* line 422, style.scss */
.phone ul li:first-child, .tablet ul li:first-child, .cog ul li:first-child {
  border-top: none;
}
/* line 425, style.scss */
.phone ul li:hover, .tablet ul li:hover, .cog ul li:hover {
  background-color: #1f1f1f;
}
/* line 431, style.scss */
.phone span, .tablet span, .cog span {
  float: right;
  color: #2ecc71;
  font-size: 22px;
  font-weight: 100;
}

/* line 442, style.scss */
.cog ul {
  right: 0;
}

/* line 447, style.scss */
.phone, .tablet {
  color: #EEE;
  position: relative;
  z-index: 1;
  top: 0px;
  right: 0px;
  padding: 10px !important;
  border-left: 1px solid #000;
  margin-left: 0px;
}
/* line 456, style.scss */
.phone span, .tablet span {
  float: right;
  color: white;
  font-size: 12px;
}
/* line 461, style.scss */
.phone ul, .tablet ul {
  left: -100px;
}

/* line 469, style.scss */
.dev {
  position: fixed;
  display: inline;
  right: 50%;
  top: 0;
}
/* line 475, style.scss */
.dev img {
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  margin-top: 61px;
}
/* line 480, style.scss */
.dev img.rota {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* line 487, style.scss */
.dev .bar-clear {
  clear: both;
}

/* line 492, style.scss */
.hide {
  display: none !important;
}

/* ------------------MEDIA--------------------- */
@media all and (min-width: 1680px) {
  /* line 499, style.scss */
  body {
    background-size: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  /* line 507, style.scss */
  .sales, header .devices {
    display: none !important;
  }

  #preview-img {
    padding: 5px;
    width: 310px;
    height: 155px;
  }
}


@media only screen and (max-width: 650px) {

  .sales, #preview-img,
  .rating, span.text,
  .cat, .sales, header .devices {
    display: none !important;
  }

  header {
  	height: auto;
  }

  header > .left {
  	float: left;
  	display: inline-block;
    width: 70%;
  }

  header > .right {
  	float: right;
  	display: inline-block;
  	vertical-align: -webkit-baseline-middle;
  }

  header .logo {
		float: left;
		text-align: left;
		padding: .3em 0;
		width: 30%;
  }

  header .logo > a {
    padding: 0px;
    padding-left: 0px;
  }

  header #menu, header #menu ul {
    float: right;
  }

	header #menu .current {
		text-align: center;
		padding: .8em .9em;
	}

  .close, .cog {
    padding: 10px 0px !important;
  }

}

@media only screen and (max-width: 650px) {
  header #menu, header #menu ul {
    display: none;
  }
  header .logo {
    width: 50%;
  } 
 
}


